body {
    background-image: url(assets/emptyroom.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.door{
    position: fixed;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -32%);
    z-index: -1;
}

.door > img{
    width: 25em;
}


.cabinet{
    position: fixed;
    top: 25%;
    left: 30%;
}

.cabinet > img {
    width: 12em;
}

.interact:hover{
    cursor: pointer;
}

.tv{
    position: fixed;
    top: 20%;
    right: 30%;
}

.tv > img{
    width: 15em;
}

.outlet{
    position: fixed;
    top: 40%;
    right: 30%;
}

.outlet > img{
    width: 2em;
}

.safe > img{
    width: 10em;
    position: fixed;
    bottom: 15%;
    right: 30%;
}

.desk > img{
    width: 30em;
    position: fixed;
    bottom: 5%;
    left: 15%;
}
@media only screen and (max-width: 1300px){
    .cabinet{
        position: fixed;
        top: 25%;
        left: 20%;
    }

    .tv{
        position: fixed;
        top: 20%;
        right: 20%;
    }
    
    .desk > img{
        bottom: 5%;
        left: 5%;
    }

    .safe > img{
        bottom: 15%;
        right: 15%;
    }

}

@media only screen and (max-width: 1100px){
    .desk > img{
        bottom: 5%;
        left: 0%;
    }
}

@media only screen and (max-width: 1000px){
    .cabinet{
        position: fixed;
        top: 25%;
        left: 20%;
}

    .tv{
    position: fixed;
    top: 20%;
    right: 15%;
}
    .desk > img{
        width: 27em;
        bottom: 10%;
    }
}

@media only screen and (max-width: 900px){
    .cabinet{
        position: fixed;
        top: 25%;
        left: 10%;
}    
    .tv{
        position: fixed;
        top: 20%;
        right: 10%;
}    
    .desk > img{
        width: 24em;
        bottom: 10%;
    }
}

@media only screen and (max-width: 800px){
    .cabinet{
        position: fixed;
        top: 25%;
        left: 10%;
}
    .tv{
        position: fixed;
        top: 20%;
        right: 5%;
}

    .desk > img{
        width: 22em;
        bottom: 13%;
    }
}

@media only screen and (max-width: 700px){
    .cabinet{
        position: fixed;
        top: 25%;
        left: 0%;
    }
    .tv{
        position: fixed;
        top: 20%;
        right: 0%;
}    
    .outlet{
        position: fixed;
        top: 40%;
        right: 25%;
    }
}


@media only screen and (max-width: 600px){
    .cabinet{
        position: fixed;
        top: 25%;
        left: 0%;
    }
    .cabinet > img {
        width: 10em;
    }
    .tv > img {
        width: 12em;
    }

    .outlet{
        position: fixed;
        top: 40%;
        right: 20%;
    }
}

@media only screen and (max-width: 510px){
    .door > img{
        width: 20em;
    }

    .door{
        position: fixed;
        bottom: 30%;
        left: 50%;   
    }
}

@media only screen and (max-width: 410px){
    .cabinet{
        position: fixed;
        top: 25%;
        left: -5%;
    }
}